<!--Compter le nombre de réservations disponible -->
<% iavailable = 0 %>
<% @events.each do |event| %>
    <% if event.status === "Coming" %>
      <% iavailable += 1 %>
    <% end %>
<% end %>

<!--Affichage des events disponible si le status est coming et qu'ils ne sont pas deux utilisateurs dedans -->
<div class="container w-80 my-5 py-4  ">
  <h1 class ="my-4"> Events available</h1>
  <p>There is <strong><%= iavailable %></strong> events available</p>
  <% @events.each do |event| %>
    <div class="container-event d-flex justify-content-between">
      <% if event.status === "Coming" %>
        <div class = "px-1">
        <p>From <%= event.start_date.strftime("%B, %e %Y at %H:%M") %> to <%= event.end_date.strftime("%B, %e %Y at %H:%M")  %></p>
        </div>
        <%= link_to edit_event_user_event_path(event.id) do %>
          <i class="fa-solid fa-plus"></i>
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>

<% if policy(Event).create? %>
  <%= link_to "New event", new_event_path %>
<% end %>

<% @events.each do |event| %>
  <% if policy(event).edit? %>
    <%= link_to "Update event", edit_event_path(event) %>
  <% end %>
<% end %>
