<div class="col-6 offset-3 mt-5">
  <%=  @event.event_type%>
  <%=  @event.id%>
  <% if @userevents.length === 2 %>
      <h1>There is two participants</h1>
      <h1> This appointment will start the <%= @event.start_date.strftime("%B, %e %Y at %H:%M") %> and
      finish at <%= @event.start_date.strftime("%H:%M")%> </h1>
      <!--Besoin de connaître l'event type pour agir en fonction -->

      <% if @event.event_type === "Drink" %>
        <h1>We are going to propose you some cool bar !</h1>
      <% elsif @event.event_type === "Lunch" %>
        <h1>We are going to propose you some cool restaurants !</h1>
        <ul>
          <% @response["results"].each {|result| %>
            <% if result["rating"].class != NilClass %>
              <li><%= result["name"].capitalize%> <%= result["rating"]%>/5 for <%= result["user_ratings_total"]%> reviews </li>
            <% end %>
          <% } %>
        </ul>
      <% elsif @event.event_type === "Coffee" %>
        <h1>We are going to propose you some cool coffee !</h1>
      <% end %>
  <% else %>
      <h1>Your <%= @event.event_type %> the <%= @event.start_date.strftime("%F at %H:%M") %></h1>
      <h5>We still waiting your pair</h5>
  <% end %>
  <%= link_to "Rank your #{@event.event_type}", new_event_venue_ranking_path(@event) %>
  <%= link_to "Back to Dashboard", dashboard_path, class: "btn btn-secondary my-2" %>
</div>
