<div class="col-6 offset-3 mt-5">
  <%=  @event.event_type%>
  <%=  @event.id%>

  <% if @userevents.length === 2 %>

    <!--Besoin savoir si les deux utilisateurs ont ranké leurs restaurants -->
    <% drapeau = true %>
    <% @userevents.each do |ue| %>
      <% if (ue.ranking_done) != true %>
        <% drapeau = false %>
      <% end %>
    <% end %>

    <!--On agit en fonction.. Si le drapeau est true c'est que les deux ont rank donc affichage spécial
    sinon il est false alors on regarde le current user à rank ou non-->

    <% if (drapeau === true) %>

      <h1>Congrats your pair and you have ranked the venues</h1>
      <% if (Time.now - @event.start_date) < 900  %>

        <h3>Tadaaa <% current_user.first_name %> you will meet  </h3>
      <% else %>
      <% raise %>
        <h1>You will discover the profile of your pair 15 min before the beginning of the appointment</h1>
      <% end %>


    <% else %>

      <!--Besoin de savoir si le current user à déjà ranké les restaurants -->

      <% if (@userevent_current.first.ranking_done != true) %>

        <h1>Nice ! You found your pair <%= ":)" %> It's time to rank your <%= @event.event_type %>s ! </h1>

        <%= link_to "Rank your #{@event.event_type}", new_event_venue_ranking_path(@event) %>

        <h6> This appointment will start the <%= @event.start_date.strftime("%B, %e %Y at %H:%M") %> and
        finish at <%= @event.start_date.strftime("%H:%M")%> </h6>

      <% else %>

        <h1> This appointment will start the <%= @event.start_date.strftime("%B, %e %Y at %H:%M") %> and
        finish at <%= @event.start_date.strftime("%H:%M")%> </h1>
        <p>You already ranked the <%= @event.event_type %>s, you just have to wait for your partner to do the same</p>

      <% end %>

    <% end %>

  <% else %>

      <h1>Your <%= @event.event_type %> the <%= @event.start_date.strftime("%F at %H:%M") %></h1>
      <h5>We still waiting your pair</h5>

  <% end %>

  <%= link_to "Back to Dashboard", dashboard_path, class: "btn btn-secondary my-2" %>
</div>
