<div class="col-6 offset-3 mt-5 rank">
  <ul data-controller="rank" id="results" class="list-group results-lists mb-3" id="test" >
    <% unless @response.nil? %>
      <% @response.first(5).each do |result| %>
        <% if result["rating"].class != NilClass && result["rating"] > 2 && result["name"] != "Franprix" %>
          <li class="result-list item p-3" >
          <p><%= result["name"]%></p> <%= result["rating"]%>/5 for
          <%= result["user_ratings_total"]%> reviews
          </li>
        <% end %>
      <% end %>
    <% end %>
    <div class=''>
      <%= simple_form_for :venue_rankings, url: venue_rankings_path, method: :post  do |f| %>
        <%# raise %>
        <%= f.input :ranking, input_html: { data: {"rank-target" => "venueRanking"} }  %>
        <%= f.submit "Rank!", class: "btn btn-primary" %>
      <% end %>
    </div>
  </ul>
</div>
