<h2>coucou</h2>
<%= link_to 'sign out', destroy_user_session_path, method: :delete %>
<h2>coucou</h2>

<div class="background-dash">
  <%# For each event display: %>
  <h1>My events</h1>
  <hr>
  <% if @events.empty? %>
    <div class="card-dash">
      <div class="card-badge">
        There's no events here...
      </div>
    </div>
  <% else %>
    <% @events.reverse.each do |event| %>
      <%= link_to event_path(event) do %>
        <div class="card-dash mb-2">
          <div class="badge card-badge">
          <%=  event.status %>
          </div>
          <p class="card-event-type"><%= event.event_type %></p>
          <p class="date-place"><%= event.start_date %></p>
          <p class="date-place"> KFC La Chapelle </p>
        </div>
      <% end %>
    <% end %>
  <% end %>
</div>
