
<%= render 'devise/shared/mobile-nav' %>
<div class="main-wrapper">
  <%= render 'devise/shared/main-nav' %>

  <div class="content">
    <section class="dash-card-list">
      <%# For each event display: %>
      <ul class="card-list-wrapper">
        <div class="hero hero-dashboard">
          <div class="text-wrapper">
            <h1 class="mb-4 ">Create a <br> new event!</h1>
            <a class="btn btn-primary w-100 py-2"
               id="create-event-start"
               data-bs-toggle="modal"
               data-bs-target="#ModalCreateEvent">
                Let's go!
            </a>
          </div>
          <%= image_tag 'family-pack/family11.svg', class: "illustation-hero" %>
        </div>
        <div class="list-header my-4 py-2">
          <h3>My coming events</h3>
          <hr>
        </div>

        <% current_user.events.order(:start_date).each do |event| %>
          <% if event.status(current_user) == "now" ||
          event.status(current_user) == "paired" ||
          event.status(current_user) =="pairing" %>


            <%= render "pages/create-card", event: event %>

          <% end %>
        <% end %>

      <!-- Button trigger modal -->
    <button type="button"
            id="create-event-start-down"
            class="btn rounded-pill sign-up-btn mt-5 mb-5"
            data-bs-toggle="modal"
            data-bs-target="#ModalCreateEvent">
      Add new event
    </button>

    <!-- Modal -->
    <%= render "create_new_event" %>
  </div>
</div>

<style>
  svg.rotate {
    transform: rotate(180deg);
  }

</style>
