<h2>coucou</h2>
<%= link_to 'sign out', destroy_user_session_path, method: :delete %>
<h2>coucou</h2>

<div class="background-dash">
  <%# For each event display: %>

    <% current_user.events.each do |event| %>
      <div class="card-dash mb-2"
           data-controller="card-dash"
           data-action="click->card-dash#unfold">

        <div class="badge card-badge">
        <%=  event.status %>
        </div>

        <p class="card-event-type"><%= event.event_type %></p>
        <p class="date-place"><%= event.start_date %></p>
        <p class="date-place"> KFC La Chapelle </p>

        <div data-card-dash-target="unfold" class="fold hide">
            <button type="button" class="btn btn-outline-secondary mt-2" data-action="card-dash#coucou">Delete</button>
        </div>

      </div>


    <% @current_user_events.reverse.each do |event| %>
      <%= link_to event_path(event) do %>
        <div class="card-dash mb-2">
          <div class="badge card-badge">
          <%=  event.status %>
          </div>
          <p class="card-event-type"><%= event.event_type %></p>
          <p class="date-place"><%= event.start_date %></p>
          <p class="date-place"> KFC La Chapelle </p>
        </div>
      <% end %>

    <% end %>

</div>
